@import "../../_base.scss";

.categoriesBar {
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    padding: 0.5rem 0;
    font-size: 1rem;
    display: flex;
    background-color: $black-secondary;
    max-width: 100%;
    // overflow-x: scroll;
    // height: 52px;

    

    span{
        margin-right: 1rem;
        padding: 0.5rem 1rem;
        border-radius: 999rem;
        border: 1.5px solid $border-color;
        background-color: rgba(255, 255, 255, 0.05);
        cursor: pointer;

        &:hover{
            background-color: rgba(255, 255, 255, 0.1)
        }

        &.active{
            background-color: white;
            color: $black-secondary;
        }
    }
    
}
